/* ------------------------------3 задание----------------------------------- */
/* body {
    padding-top: 50px;
    
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.item {
    list-style-type: none;
 
}

.picture {
    width: 600px;
} */
/* ------------------------------------------------------------------------- */
/* -------------------------------4 задание--------------------------------- */